<!doctype html>
<html lang="zh-cn" ormtype="10">
	<head>
		<base href="../../../../../../">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta content="telephone=no" name="format-detection">
		<link rxmextend rel="shortcut icon" type="image/x-icon" href="">
		<link rxmextend rel="stylesheet" href="./www/res/css/ormwidget.css">
		<title>
			数值校验
		</title>
	</head>
	<body class="rxm-body rxm-mobile rxm-iphone" clsnm="rxm-body" rxmtype="layout" id="rxm_body" style="cursor: default;">
		<style id="panel001_style" type="text/css">
			#panel001_sub_1.rxm-top-panel{ height:2.1rem; } #panel001.rxm-content-panel{
			height: calc(100% - 2.1rem ); }
		</style>
		<script rxmextend="" type="text/javascript" src="./www/rxm/global/cssOriginal.js">
			
			
		
		
		</script>
		<div class="rxm-top-panel" id="panel001_sub_1" clsnm="rxm-top-column" rxmtype="sublayout" rxmname="上栏(定高)" pid="panel001">
			<div class="rxm-title-bar" clsnm="rxm-title-bar" rxmtype="container" id="bar002">
				<i class="fa  fa-list-alt rxm-title-icon">
				</i>
				<span class="rxm-title-name">
					数值校验
				</span>
				<ul class="rxm-cmd-btnbar fr" rxmtype="container" id="btnbar003" clsnm="rxm-cmd-btnbar">
					<li class="rxm-cmd-btn" rxmtype="button" id="btn004" clsnm="rxm-submit-btn">
						<button class="" rxmcmdid="" title="" rxmformid="form008" rxmurl="/resoft/origianl/select/test">
							<i class="fa fa-save">
							</i>
							<span>
								提交
							</span>
						</button>
					</li>
					<li class="rxm-cmd-btn" rxmtype="button" id="close007" clsnm="rxm-cmd-close">
						<button class="" rxmcmdid="rxmPageClose" title="关闭">
							<i class="fa fa-close">
							</i>
							<span>
								关闭
							</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
		<div class="rxm-content-panel rxm-content-top" rxmname="下栏" id="panel001" rxmtype="layout" clsnm="rxm-content-tb-panel">
			<form id="form008" name="" class="rxm-form-horizontal" rxmtype="container" clsnm="rxm-form">
				<div class="rxm-form-group rxm-col-xs-12 rxm-col-md-6 rxm-col-lg-6 rxm-col-sm-7" rxmtype="input" id="select009" clsnm="rxm-input-select">
					<label class="rxm-control-label rxm-form-padding-r rxm-form-label-left rxm-col-xs-6 rxm-col-sm-6 rxm-col-md-6 rxm-col-lg-6" for="one">
						1、贵公司的主营业务有哪些？
					</label>
					<div class="rxm-form-padding-l rxm-col-xs-6 rxm-col-sm-6 rxm-col-md-6 rxm-col-lg-6">
						<select name="one" class="rxm-form-control rxm-select" rxminitdata="[{&quot;value&quot;:&quot;1&quot;,&quot;text&quot;:&quot;投资商品&quot;,&quot;selected&quot;:&quot;selected&quot;},{&quot;value&quot;:&quot;2&quot;,&quot;text&quot;:&quot;销售商品&quot;},{&quot;value&quot;:&quot;3&quot;,&quot;text&quot;:&quot;其他商品&quot;}]" rxminitload="" rxmcascadeselect="" id="one">
						</select>
					</div>
				</div>
				<div class="rxm-form-group rxm-col-xs-12 rxm-col-sm-12 rxm-col-md-12 rxm-col-lg-12 rxmdk-layout-hover" rxmtype="container" id="checkbox010" clsnm="rxm-input-checkbox">
					<label class="rxm-control-label rxm-form-padding-r rxm-col-xs-12 rxm-col-sm-12 rxm-col-md-12 rxm-col-lg-12 rxm-form-label-left" for="">
						<span class="rxm-form-requird">
							*
						</span>
						2、贵公司的涉外交易中，主要业务有哪些？【多选题】
					</label>
					<div class="rxm-form-padding-l rxm-col-xs-12 rxm-col-sm-12 rxm-col-md-12 rxm-col-lg-12">
						<div class="rxm-checkbox-div rxm-col-xs-12 rxm-col-sm-12 rxm-col-md-12 rxm-col-lg-12 rxmdk-layout-hover rxmdk-plugin-focus" clsnm="rxm-button-chkbutton" rxmtype="button" id="chkbutton011">
							<input type="checkbox" name="two" value="1" class="rxm-form-margin-top rxm-checkbox-input">
							<span class="checkbox-span">
								A:货物贸易
							</span>
						</div>
						<div class="rxm-checkbox-div rxm-col-xs-12 rxm-col-sm-12 rxm-col-md-12 rxm-col-lg-12" clsnm="rxm-button-chkbutton" rxmtype="button" id="chkbutton012">
							<input type="checkbox" name="two" value="2" class="rxm-form-margin-top rxm-checkbox-input">
							<span class="checkbox-span">
								B:服务贸易
							</span>
						</div>
						<div class="rxm-checkbox-div rxm-col-xs-12 rxm-col-sm-12 rxm-col-md-12 rxm-col-lg-12" clsnm="rxm-button-chkbutton" rxmtype="button" id="chkbutton013">
							<input type="checkbox" name="two" value="3" class="rxm-form-margin-top rxm-checkbox-input">
							<span class="checkbox-span">
								C:对外收购/设立企业
							</span>
						</div>
						<div class="rxm-checkbox-div rxm-col-xs-12 rxm-col-sm-12 rxm-col-md-12 rxm-col-lg-12" rxmtype="button" id="chkbutton014" clsnm="rxm-button-chkbutton">
							<input type="checkbox" name="two" value="4" class="rxm-form-margin-top rxm-checkbox-input">
							<span class="checkbox-span">
								D:吸收境外企业的长期投资
							</span>
						</div>
						<div class="rxm-checkbox-div rxm-col-xs-12 rxm-col-sm-12 rxm-col-md-12 rxm-col-lg-12" rxmtype="button" id="chkbutton015" clsnm="rxm-button-chkbutton">
							<input type="checkbox" name="two" value="5" class="rxm-form-margin-top rxm-checkbox-input">
							<span class="checkbox-span">
								E.投资境外股票、债券
							</span>
						</div>
						<div class="rxm-checkbox-div rxm-col-xs-12 rxm-col-sm-12 rxm-col-md-12 rxm-col-lg-12" rxmtype="button" id="chkbutton016" clsnm="rxm-button-chkbutton">
							<input type="checkbox" name="two" value="6" class="rxm-form-margin-top rxm-checkbox-input">
							<span class="checkbox-span">
								F:境外投资本公司股票、债券
							</span>
						</div>
						<div class="rxm-checkbox-div rxm-col-xs-12 rxm-col-sm-12 rxm-col-md-12 rxm-col-lg-12" rxmtype="button" id="chkbutton017" clsnm="rxm-button-chkbutton">
							<input type="checkbox" name="two" value="7" class="rxm-form-margin-top rxm-checkbox-input">
							<span class="checkbox-span">
								G:对境外的存货款或应收预付
							</span>
						</div>
						<div class="rxm-checkbox-div rxm-col-xs-12 rxm-col-sm-12 rxm-col-md-12 rxm-col-lg-12" rxmtype="button" id="chkbutton018" clsnm="rxm-button-chkbutton">
							<input type="checkbox" name="two" value="8" class="rxm-form-margin-top rxm-checkbox-input">
							<span class="checkbox-span">
								H:接受境外贷款或应付预收
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
		<script rxmextend="" src="./www/rxm/requirejs/require.js" type="text/javascript">
			
			
		
		
		</script>
		<script rxmextend="" id="rxm__ctrl_js" title="www/examples/pages/form/valueCheck/valueCheck.js" type="text/javascript" src="./www/rxm/global/cssOrm.js">
			
			
		
		
		</script>
		
		
		<script src="/www/orivalidate/plgns/orivRunMgr.js" type="text/javascript">
			
		
		</script>
			
			<div style="display:none;" rxmvvlidate="">
		
        
        
        <div style="display:none;" causalvld="" validatetype="数值校验" categoryid="valueVld" reasonvalue="`1、贵公司的主营业务有哪些？`==2" reasonhidden="`one`==2" inputname="rxmvldone" inputid="select009" vldid="C879387612C00001CE55B6401D6016F6" validatename="数值校验1" resultmsg="[{&quot;resultid&quot;:&quot;C879387612F00001F0DB449BBE3C11E8&quot;,&quot;errorMsg&quot;:&quot;选择主营业务为销售商品，则涉外交易中A、C、H为必选项&quot;,&quot;resultHidden&quot;:&quot;`two`==1&amp;&amp;`two`==3&amp;&amp;`two`==8&quot;,&quot;resultValue&quot;:&quot;`2、贵公司的涉外交易中，主要业务有哪些？【多选题】`==1&amp;&amp;`2、贵公司的涉外交易中，主要业务有哪些？【多选题】`==3&amp;&amp;`2、贵公司的涉外交易中，主要业务有哪些？【多选题】`==8&quot;,&quot;resultValueShow&quot;:&quot;`2、贵公司的涉外交易中，主要业务有哪些？【多选题】`==1&amp;&amp;`2、贵公司的涉外交易中，主要业务有哪些？【多选题】`==3&amp;&amp;`2、贵公司的涉外交易中，主要业务有哪些？【多选题】`==8&quot;}]"></div>
    
    
    </div>
	



<script src="/www/orivalidate/plgns/orivRunMgr.js" type="text/javascript"></script>



</body>
</html>