 <!-- 修改密码 -->
        <div class="tab-pane" role="tabpanel" id="pd_web_password_modify_panel">
            <form id="pd_web_password_editor">
                <div class="affix-section">
                    <div class="row">
                        <div style="float:left">
                            <div style="padding-top: 18px; padding-left: 35px;font-size:24px"><i class="menu-icon fa fa-user"></i><span id="pd_midfy_pswd">修改密码</span></div>
                            <!--<div style="padding-left:32px;font-size:13px;padding-bottom:14px"><span class="last" id="org_PersonDeptName"></span></div>-->
                        </div>
                        <div style="float:right;padding-top:23px;padding-right:33px">
                            <button type="button" class="btn btn-default" id="pd_web_save_pswd_btn"><i class="menu-icon fa fa-save"></i>&nbsp;保存</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-8 form-horizontal">
                            <div class="form-group">
                                <label for="userCode" class="col-md-6 col-sm-2 control-label"><span class="requird"></span>员工编号:</label>
                                <div class="col-md-6 col-sm-10">
                                    <input  type="text" name="userCode" class="form-control" readonly>
                                    <input  type="text" name="userUuid" style="display:none">
                                    <input type="text" name="opType" style="display:none" value="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 form-horizontal">
                            <div class="form-group">
                                <label for="userName" class="col-md-6 col-sm-2 control-label"><span class="requird"></span>用户名称:</label>
                                <div class="col-md-6 col-sm-10">
                                    <input type="text" name="userName" class="form-control" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 form-horizontal">
                            <div class="form-group">
                                <label for="pd_web_old_pswd" class="col-md-6 col-sm-2 control-label">原密码:</label>
                                <div class="col-md-6 col-sm-10">
                                    <input id="pd_web_old_pswd" type="password" name="pd_web_old_pswd" class="form-control" tabindex="1" autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 form-horizontal">
                            <div class="form-group">
                                <label for="officePhone" class="col-md-6 col-sm-2 control-label">新密码:</label>
                                <div class="col-md-6 col-sm-10">
                                    <input id="officePhone" type="password" name="pd_web_new_pswd_1" class="form-control" tabindex="2">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 form-horizontal">
                            <div class="form-group">
                                <label for="phone" class="col-md-6 col-sm-2 control-label">新密码验证:</label>
                                <div class="col-md-6 col-sm-10">
                                    <input id="pd_web_new_pswd_2" type="password" name="pd_web_new_pswd_2" class="form-control" tabindex="3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>