<html lang="zh-cn" ormtype="10">

<head>
	<base href="../../../../../../../../">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta charset="utf-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta content="telephone=no" name="format-detection">
	<meta name="rxmdevicetype" content="1,2">
	<meta name="rxmtempUUID" content="C87EFE0759900001BE931A1613908240">
	<meta name="rxmtempDes" content="                  ">
	<link rxmextend="" rel="shortcut icon" type="image/x-icon" href="">
	<link rxmextend="" rel="stylesheet" href="./www/res/css/ormwidget.css">
	<title>
		selectOrg
	</title>
	<script rxmextend="" src="./www/rxm/requirejs/require.js" type="text/javascript">


















	</script>
	<meta pageid="C87F138627400001BDE5E232DE002610" pageauth="0">
</head>

<body class="rxm-body rxm-desktop rxm-mac" id="rxm_body" style="cursor: default;" clsnm="rxm-body" rxmtype="layout">
	<style id="panel001_style" type="text/css">
		#panel001_sub_1.rxm-top-panel {
			height: 2.1rem;
		}

		#panel001.rxm-content-panel {
			height: calc(100% - 2.1rem);
		}
	</style>
	<script rxmextend="" type="text/javascript" src="./www/rxm/global/cssOriginal.js"></script>
	<div class="rxm-top-panel" id="panel001_sub_1" clsnm="rxm-top-column" rxmtype="sublayout" rxmname="上栏(定高)"
		pid="panel001">
		<div class="rxm-title-bar" clsnm="rxm-title-bar" rxmtype="container" id="bar003"> <i
				class="fa  fa-list-alt rxm-title-icon"></i> <span class="rxm-title-name">rxm标题</span></div>
	</div>
	<div class="rxm-content-panel rxm-content-top" rxmname="下栏" id="panel001" rxmtype="layout"
		clsnm="rxm-content-tb-panel">
		<form id="form004" name="" class="rxm-form-horizontal" rxmtype="container" clsnm="rxm-form">
				<div style="width: 100%;height:50px;padding:10px;text-align: center;margin-top: 20px;"> 
				<div class="btn btn-success" id="selectOrg">
				  点击进行组织选择 
				</div> 
			    </div> 
			    <div style="width:100%;height:20px;text-align:center;padding:5px;"> 
				<span>选择结果</span> 
			    </div> 
			    <div id="selectedListGrid" class="rxm-grid-mobile"> 
				</div> 
				
				<a href="http://192.168.0.100/www/pages/login.html">登陆</a>
				
		</form>
	</div>
	<script rxmextend="" name="rxmJsMain" type="text/javascript"
		src="www/examples/pages/dkTest/form/selectOrg/view/selectOrg.js"></script>


</body>

</html>