<!doctype html>
<html lang="zh-cn" ormtype="10">
	<head>
		<base href="../../../../../">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta content="telephone=no" name="format-detection">
		<link rxmextend rel="shortcut icon" type="image/x-icon" href="./www/res/img/favicon.png">
		<link rxmextend rel="stylesheet" href="./www/res/css/ormwidget.css">
		<title>
			Original-M
		</title>
	</head>
	<body class="rxm-body rxm-mobile rxm-iphone" clsnm="rxm-body" rxmtype="layout"
	id="rxm_body" style="cursor: default;">
		<script rxmextend="" type="text/javascript" src="./www/rxm/global/cssOriginal.js">
			
			
			
			
			
			
			
		
		
		
		
		
		
		
		</script>
		<style id="panel001_style" type="text/css">
			#panel001_sub_1.rxm-left-panel{ width:10rem;background:#A9A9A9; } #panel002.rxm-content-panel.rxm-content-left,
			#panel001.rxm-content.rxm-content-left{ margin-left:10rem; background:#B0C4DE;
			} .rxm-mobile #panel001_sub_1.rxm-left-panel{ display:none;background:#A9A9A9;
			} .rxm-mobile #panel001.rxm-content-panel.rxm-content-left, .rxm-mobile
			#panel001.rxm-content.rxm-content-left{ margin-left:0rem;background:#B0C4DE
			}
		</style>
		<div class="rxm-content-panel rxm-content-left rxmdk-plugin-focus" rxmname="右栏"
		id="panel001" rxmtype="layout" clsnm="rxm-content-lr-panel">
			<div style="margin-left:50px">
				111
			</div>
		</div>
		<div class="rxm-left-panel" id="panel001_sub_1" clsnm="rxm-left-column"
		rxmtype="sublayout" rxmname="左栏(定宽)" pid="panel001" style="">
			<div>
				222
			</div>
		</div>
		<script rxmextend="" src="./www/rxm/requirejs/require.js" type="text/javascript">
			
			
			
			
			
			
			
		
		
		
		
		
		
		
		</script>
		<script rxmextend="" id="rxm__ctrl_js" title="www/examples/pages/layout/layout.js"
		type="text/javascript" src="./www/rxm/global/cssOrm.js">
			
			
			
			
			
			
			
		
		
		
		
		
		
		
		</script>
	</body>

</html>