<div class="rxm-form-padding-l" style="margin:12px 0;">
    <label style="width:30%;text-align:center;">用户名</label>
    <div style="width:64%;display:inline-block;">
        <input type="text" name="username" id="username" class="rxm-form-control">
    </div>
</div>
<div class="rxm-form-padding-l" style="margin:12px 0;">
    <label style="width:30%;text-align:center;">密码</label>
    <div style="width:64%;display:inline-block">
        <input type="password" name="pwd" id="pwd" class="rxm-form-control">
    </div>
</div>