<!doctype html>
<html lang="zh-cn" ormtype="10">
 <head>
  <base href="../../../../../../">  
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
  <meta charset="utf-8"> 
  <meta content="telephone=no" name="format-detection"> 
  <link rxmextend rel="stylesheet" href="./www/rxm/bootstrap/css/bootstrap.min.css"> 
  <link rxmextend rel="stylesheet" href="./www/res/css/ormwidget.css"> 
  <link rxmextend rel="stylesheet" href="./www/examples/res/css/examplewidget.css"> 
 </head> 
 <body style="overflow:hidden;-webkit-user-select:none;-webkit-touch-callout:none;width:100%;height:100%;"> 
  <script rxmextend type="text/javascript" src="./www/rxm/global/cssOriginal.js"></script> 
  <div id="rxm_loading" style="width:100%;text-align: center;margin-top:200px;position:absolute;z-index:10"> 
   <div style="height:24px;"> 
    <img style="width:24px" src="./www/res/css/login/res/loading.gif"> 
    <span style="vertical-align:middle">正在加载中...</span> 
   </div> 
  </div> 
  <div id="rxm_title" class="rxm-title" rxmtype="somdk-layout-title" rxmid="somdk-layout-title"> 
   <i class="fa fa-list-alt rxm-widget-title-icon "></i> 
   <span class="rxm-widget-title-text">窗口</span> 
   <div class="rxm-widget-title-btnbar"> 
    <button class="rxm-widget-close-btn"><i class="fa  fa-close"></i> 
     <div style="display:inline;background-color:transparent;">
      关闭
     </div></button>
   </div> 
  </div> 
   
  <div id="rxm_content" class="rxm-content-panel" clsnm="rxm-content-panel" rxmtype="layout" rxmid="layout"> 
   <div> 
    <h3>长按事件测试</h3> 
    <div id="press_test" class="orm-swipe"> 
    </div> 
   </div> 
  </div> 
  <div id="rxm_footer" class="rxm-footer"   rxmid="somdk-layout-footer"> 
  </div> 
  <script rxmextend src="./www/rxm/requirejs/require.js" type="text/javascript"></script> 
  <script rxmextend src="./www/examples/config/exampleConfig.js" type="text/javascript"></script>    
  <script rxmextend id="rxm__ctrl_js" title="www/examples/pages/gestures/press/press.js" type="text/javascript" src="./www/rxm/global/cssOrm.js"></script>
 </body>
</html>