html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#top {
	background-color: aquamarine;
	position: relative;
	left: 0%;
	right: 0%;
	height: 40px;
}

.row {
	height: calc(100% - 40px);
	margin: 10px;
}

.col {
	display: inline-block;
	text-align: center;
	height: 5000px;
}

#navi {
	width: 40px;
	background-color: cornflowerblue;
	margin: 5px;
}

#changed {
	float: right;
	width: calc(100% - 80px);
	border: 5px khaki;
	clear: both;
}

.subCol {
	float: left;
	width: 40%;
	height: 80%;
	margin: 5%;
	background-color: gray;
}

.jsweet-dialogBox {
	font-size: 1.5rem;
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	display: block;
	background: rgba(18, 188, 230, 0.5);
	z-index: 1000;
	overflow: hidden;
}

.jsweet-dialogBox:after {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.jsweet-dialogBox>.jsweet-dialog-frame {
	border: groove rgb(170, 191, 237);
	position: relative;
	margin: 0 auto;
	margin-top: 5%;
	height: 400px;
	width: 400px;
	background: rgb(224, 190, 212);
	z-index: 1001;
	opacity: 1;
	vertical-align: middle;
}

.dad {
	height: 100%;
	overflow: auto;
}

.jsweet-dialog-frame>.jsweet-top {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 2.5rem;
	line-height: 2.5rem;
	border-bottom: groove rgb(170, 191, 237);
	 background-color: rgb(241, 240, 240);
	
}

.jsweet-dialog-frame>.jsweet-top>.left {
	position: relative;
	display: inline-block;
	width: 2rem;
	margin-left: 0.5rem;
}

.jsweet-dialog-frame>.jsweet-top>.title {
	position: relative;
	display: inline-block;
}

.jsweet-dialog-frame>.jsweet-top>.jsweet-close {
	right: 0%;
	position: relative;
	display: inline-block;
	float: right;
	margin-right: 5%;
}

.jsweet-dialog-frame>.jsweet-middle {
	height: calc(100% - 6.5rem);
}

.jsweet-dialog-frame>.jsweet-middle>.content {
	position: relative;
	height: 100%;
	border-bottom: groove rgb(170, 191, 237);
}

.jsweet-dialog-frame>.jsweet-middle>.content>.innerContent {
	height: 100%;
	width: 96%;
	background: white;
	margin-left: 2%;
	margin-right: 2%;
	font-size:1rem;
}

.jsweet-dialog-frame>.jsweet-bottom {
	position: relative;
	display: inline-block;
	width: 95%;
	height: 4rem;
	line-height: 4rem;
	text-align: right;
	bottom: 0%;
	margin-right: 5%;
}

.far, .fas:hover {
	color: rgb(197, 88, 121);
	cursor: pointer;
}

a:hover {
	color: rgb(197, 88, 121);
	cursor: pointer;
}
/* for form */
.jsweet-form-box {
	width: auto;
	height: auto;
}

.jsweet-form {
	display: block;
}

.jsweet-form-group {
	display: inline-block;
	height: 3rem;
	float: left;
}

.jsweet-form label, .jsweet-form input {
	display: inline-block;
}

.jsweet-label-right label {
	text-align: right;
}

.jsweet-inner-form, .jsweet-radio-cars {
	display: inline-block;
	height: 100%
}

.jsweet-middle-col-0 {
	width: 0%;
	margin: 0 px;
}

.jsweet-middle-col-1 {
	width: calc(100%/ 12);
	margin: 0 px;
}

.jsweet-middle-col-2 {
	width: calc(100%/ 6);
	margin: 0 px;
}

.jsweet-middle-col-3 {
	width: calc(100%/ 4);
	margin: 0 px;
}

.jsweet-middle-col-4 {
	width: calc(100%/ 3);
	margin: 0 px;
}

.jsweet-middle-col-5 {
	width: calc(500%/ 12);
	margin: 0 px;
}

.jsweet-middle-col-6 {
	width: calc(100%/ 2);
	margin: 0 px;
}

.jsweet-middle-col-7 {
	width: calc(700%/ 12);
	margin: 0 px;
}

.jsweet-middle-col-8 {
	width: calc(800%/ 12);
	margin: 0 px;
}

.jsweet-middle-col-9 {
	width: calc(900%/ 12);
	margin: 0 px;
}

.jsweet-middle-col-10 {
	width: calc(1000%/ 12);
	margin: 0 px;
}

.jsweet-middle-col-11 {
	width: calc(1100%/ 12);
	margin: 0 px;
}

.jsweet-middle-col-12 {
	width: 100%;
	margin: 0 px;
}

.jsweetFirstTable, .jsweetFirstTable th, .jsweetFirstTable td {
	border: 1px solid black;
	border-collapse: collapse;
}

input[type=text]:hover, input[type=date]:hover {
	border-color: pink;
	border-style: solid;
	border-width: 2px;
	-webkit-transition: width .35s ease-in-out;
	transition: width .35s ease-in-out;
}

.jsweet-invalid {
	border-color: red;
	border-style: solid;
	border-width: 2px;
}

.jsweet-font-invalid {
	color: red;
	font-size: 0.8rem;
	margin-top: 0.2rem;
	margin-left: 0.3rem;
}

input {
	box-sizing: border-box;
}

label {
	vertical-align: top;
}

#img{
    display:inline-block;
    top:0.5rem;
}
.top{
    background-color:rgba(93, 151, 236, 0.842);
    padding-left:1rem;
    font-size:1.5rem;
    line-height:4rem;
    font-color:white;
    

}
.elseTop{
    margin-top:10px;
    top: 60px;
    height:calc(100% - 60px);
}
.navigator{
    height:100%;  
    left:0%;
    width:140px;
    border-top:0.1px solid rgb(184, 180, 180);
    border-right:0.1px solid rgb(184, 180, 180);
    margin-right:10px;
    background-color: rgb(241, 240, 240);
}
.main{
	position:relative;
	height:100%;
    margin-left: 150px;
    width:calc(100% - 150px);
    top:-100%;
}
.menubar{
    height:30px;
}
.h1-title{
    font-size:1rem;
    line-height:3rem;
    border-top:0.1px solid rgb(184, 180, 180);
    background-color: white;
    padding-left:0.5rem;
    
}

.toolbar{
    /* height:40px; */
    border-top:0.1px solid rgb(184, 180, 180);
}
.toolbar-a:hover{
    color:white;
    background-color:rgba(93, 151, 236, 0.842) ;
}
.toolbar-span{
    height:30px;
    border-right:0.1px solid rgb(184, 180, 180);
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
     vertical-align:middle;
}
tbody{
    /* height:40px; */
    width: 600px;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.toolbar-table{
    top:0%;
    width: 600px;
    height:40px; 
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.content{
	height:calc(95% - 20px);
    width:100%;
     background-color: rgb(241, 240, 240);
     display:table;
}


.menubar-table{
	width:400px;
	left:0%;
}

.version-table{
	width:100%;
	border-top:0.1px solid grey;
	vertical-align:middle;
}
td{
	vertical-align:inherit;
	height:40px;
	border-top:0.1px solid rgb(184, 180, 180);
	   background-color: rgb(241, 240, 240);
}
.table-th{
    text-align: left;
    height:2rem;
}
.statebar{}
.version-number-div{
    height:40px;
    padding:10px;
    width:100%;
    border:0.1px solid;
    margin: 0 0 0 0;
	padding: 0 0 0 0;
	display:middle;
     
}
.current-state-div{
    height:40px;
    padding:10px;
    width:100%;
    border:0.1px solid;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.publish-information-div{
    padding:10px;
    width:100%;
    border:0.1px solid;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}
.update-information-div{
    padding:10px;
    width:100%;
    border:0.1px solid;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.version-number-input{
	margin-top:5px;
	height:30px;
}
.version-state-select{
	margin-top:5px;
	height:30px;
}
.version-publish-info-textarea,.version-update-info-textarea{
	margin-top:5px;
	height:120px;
}
#publish-info-label, #update-info-label{
	vertical-align:top;
}
.version-number-spot-span{
	padding-left:0.5rem;
	padding-right:0.5rem;
}