<!doctype html>
<html lang="zh-cn" ormtype="10">
<head>
<base href="../../../../../../">  
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta charset="utf-8"> 
<meta content="telephone=no" name="format-detection"> 
<style>
   .rxm-slider-contents{
		  width:100%;
			height:100%;
	    background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
	 }
</style>
</head> 
<body style="-webkit-user-select:none;-webkit-touch-callout:none;width:100%;height:100%;">
<div style="width:1500px;height:500px;background-color: #456;">
		<div class="rxm-slider-contents" style="background-image:url('../img/flat.jpg');"></div>
</div>
<div style="width:500px;height:1500px;background-color: #456;">
		<div class="rxm-slider-contents" style="background-image:url('/www/examples/slider/view/flat.jpg');"></div>
</div>
<div style="width:1500px;height:1500px;background-color: #456;">
		<div class="rxm-slider-contents" style="background-image:url('/www/examples/slider/view/flat.jpg');"></div>
</div>
<div style="width:500px;height:500px;background-color: #456;">
		<div class="rxm-slider-contents" style="background-image:url('/www/examples/slider/view/vertical.jpg');"></div>
</div>
<div style="width:1500px;height:500px;background-color: #456;">
		<div class="rxm-slider-contents" style="background-image:url('/www/examples/slider/view/vertical.jpg');"></div>
</div>
<div style="width:500px;height:1500px;background-color: #456;">
		<div class="rxm-slider-contents" style="background-image:url('/www/examples/slider/view/vertical.jpg');"></div>
</div>
<div style="width:1500px;height:1500px;background-color: #456;">
		<div class="rxm-slider-contents" style="background-image:url('/www/examples/slider/view/vertical.jpg');"></div>
</div>
<div style="width:500px;height:500px;background-color: #456;">
		<div class="rxm-slider-contents" style="background-image:url('/www/examples/slider/view/beach.jpg');"></div>
</div>
<div style="width:1500px;height:500px;background-color: #456;">
		<div class="rxm-slider-contents" style="background-image:url('/www/examples/slider/view/beach.jpg');"></div>
</div>
<div style="width:500px;height:1500px;background-color: #456;">
		<div class="rxm-slider-contents" style="background-image:url('/www/examples/slider/view/beach.jpg');"></div>
</div>
<div style="width:1500px;height:1500px;background-color: #456;">
		<div class="rxm-slider-contents" style="background-image:url('/www/examples/slider/view/beach.jpg');"></div>
</div>
</body>
</html>