/*demo样式*/
#picker {
	display: inline-block;
	line-height: 1.428571429;
	vertical-align: middle;
	margin: 0 12px 0 0;
}

#picker .webuploader-pick {
	padding: 6px 12px;
	display: block;
}

#uploader-demo .thumbnail {
	width: 110px;
	height: 110px;
}

#uploader-demo .thumbnail img {
	width: 100%;
}

.uploader-list {
	width: 100%;
	overflow: hidden;
}

.file-item {
	float: left;
	position: relative;
	margin: 0 20px 20px 0;
	padding: 4px;
}

.file-item .error {
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	background: red;
	color: white;
	text-align: center;
	height: 20px;
	font-size: 14px;
	line-height: 23px;
}

.file-item .info {
	position: absolute;
	left: 4px;
	bottom: 4px;
	right: 4px;
	height: 20px;
	line-height: 20px;
	text-indent: 5px;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	z-index: 10;
}

.upload-state-done:after {
	content: "\f00c";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 32px;
	position: absolute;
	bottom: 0;
	right: 4px;
	color: #4cae4c;
	z-index: 99;
}

.file-item .progress {
	position: absolute;
	right: 4px;
	bottom: 4px;
	height: 3px;
	left: 4px;
	height: 4px;
	overflow: hidden;
	z-index: 15;
	margin: 0;
	padding: 0;
	border-radius: 0;
	background: transparent;
}

.file-item .progress span {
	display: block;
	overflow: hidden;
	width: 0;
	height: 100%;
	background: #d14 url(./progress.png) repeat-x;
	-webit-transition: width 200ms linear;
	-moz-transition: width 200ms linear;
	-o-transition: width 200ms linear;
	-ms-transition: width 200ms linear;
	transition: width 200ms linear;
	-webkit-animation: progressmove 2s linear infinite;
	-moz-animation: progressmove 2s linear infinite;
	-o-animation: progressmove 2s linear infinite;
	-ms-animation: progressmove 2s linear infinite;
	animation: progressmove 2s linear infinite;
	-webkit-transform: translateZ(0);
}

@
-webkit-keyframes progressmove { 0% {
	background-position: 0 0;
}

100%
{
background-position
:
 
17
px
 
0;
}
}
@
-moz-keyframes progressmove { 0% {
	background-position: 0 0;
}

100%
{
background-position
:
 
17
px
 
0;
}
}
@
keyframes progressmove { 0% {
	background-position: 0 0;
}

100%
{
background-position
:
 
17
px
 
0;
}
}
a.travis {
	position: relative;
	top: -4px;
	right: 15px;
}

/*================== demo.css ================*/
#container {
	color: #838383;
	font-size: 12px;
}

.pd-web-uploader .files-big-icon-container {
	margin: 0px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.pd-web-uploader .files-big-icon-container.filled {
	padding: 10px;
	margin: 0;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.pd-web-uploader .files-big-icon-container.webuploader-dnd-over {
	border: 3px dashed #999999;
}

.pd-web-uploader p {
	margin: 0;
}

.element-invisible {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.pd-web-uploader .placeholder {
	min-height: 180px;
	padding-top: 50px;
	text-align: center;
	background: url(./image.png) center 93px no-repeat;
	color: #cccccc;
	font-size: 18px;
	position: relative;
}

.pd-web-uploader .placeholder .webuploader-pick {
	font-size: 18px;
	background: #00b7ee;
	border-radius: 3px;
	line-height: 44px;
	padding: 0 30px;
	*width: 120px;
	color: #fff;
	display: inline-block;
	margin: 0 auto 20px auto;
	cursor: pointer;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.pd-web-uploader .placeholder .webuploader-pick-hover {
	background: #00a2d4;
}

.pd-web-uploader .placeholder .flashTip {
	color: #666666;
	font-size: 12px;
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 20px;
}

.pd-web-uploader .placeholder .flashTip a {
	color: #0785d1;
	text-decoration: none;
}

.pd-web-uploader .placeholder .flashTip a:hover {
	text-decoration: underline;
}

.pd-web-uploader .filelist {
	list-style: none;
	margin: 0;
	padding: 0;
}

.pd-web-uploader .filelist:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
	clear: both;
}

.pd-web-uploader .filelist li {
	background: url(./bg.png) no-repeat;
	text-align: center;
	margin: 0 8px 20px 0;
	position: relative;
	display: inline;
	float: left;
	overflow: hidden;
	font-size: 12px;
}

.pd-web-uploader .filelist li p.log {
	position: relative;
	top: -45px;
}

.pd-web-uploader .filelist li p.title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	top: 5px;
	text-indent: 5px;
	text-align: left;
}

.pd-web-uploader .filelist li p.progress {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 8px;
	overflow: hidden;
	z-index: 1;
	margin: 0;
	border-radius: 0;
	background: none;
	-webkit-box-shadow: 0 0 0;
}

.pd-web-uploader .filelist li p.progress span {
	display: none;
	overflow: hidden;
	width: 0;
	height: 100%;
	background: #1483d8 url(./progress.png) repeat-x;
	-webit-transition: width 200ms linear;
	-moz-transition: width 200ms linear;
	-o-transition: width 200ms linear;
	-ms-transition: width 200ms linear;
	transition: width 200ms linear;
	-webkit-animation: progressmove 2s linear infinite;
	-moz-animation: progressmove 2s linear infinite;
	-o-animation: progressmove 2s linear infinite;
	-ms-animation: progressmove 2s linear infinite;
	animation: progressmove 2s linear infinite;
	-webkit-transform: translateZ(0);
}

@
-webkit-keyframes progressmove { 0% {
	background-position: 0 0;
}

100%
{
background-position
:
 
17
px
 
0;
}
}
@
-moz-keyframes progressmove { 0% {
	background-position: 0 0;
}

100%
{
background-position
:
 
17
px
 
0;
}
}
@
keyframes progressmove { 0% {
	background-position: 0 0;
}

100%
{
background-position
:
 
17
px
 
0;
}
}
.pd-web-uploader .filelist li p.imgWrap {
	position: relative;
	z-index: 2;
	/*line-height: 110px;*/
	vertical-align: middle;
	overflow: hidden;
	/*width: 110px;*/
	/*height: 110px;*/
	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webit-transition: 200ms ease-out;
	-moz-transition: 200ms ease-out;
	-o-transition: 200ms ease-out;
	-ms-transition: 200ms ease-out;
	transition: 200ms ease-out;
}

.pd-web-uploader .filelist li img {
	width: 100%;
}

.pd-web-uploader .filelist li p.error {
	background: #f43838;
	color: #fff;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 28px;
	line-height: 28px;
	width: 100%;
	z-index: 1;
}

.pd-web-uploader .filelist li .success {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 40px;
	width: 100%;
	z-index: 2;
	background: url(./success.png) no-repeat right bottom;
}

.pd-web-uploader .filelist div.file-panel {
	position: absolute;
	height: 0;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#80000000', endColorstr='#80000000') \0;
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 33;
}

.pd-web-uploader .filelist div.file-panel span {
	width: 24px;
	height: 24px;
	display: inline;
	float: right;
	text-indent: -9999px;
	overflow: hidden;
	background: url(./icons.png) no-repeat;
	margin: 5px 1px 1px;
	cursor: pointer;
}

.pd-web-uploader .filelist div.file-panel span.rotateLeft {
	background-position: 0 -24px;
}

.pd-web-uploader .filelist div.file-panel span.rotateLeft:hover {
	background-position: 0 0;
}

.pd-web-uploader .filelist div.file-panel span.rotateRight {
	background-position: -24px -24px;
}

.pd-web-uploader .filelist div.file-panel span.rotateRight:hover {
	background-position: -24px 0;
}

.pd-web-uploader .filelist div.file-panel span.cancel {
	background-position: -48px -24px;
}

.pd-web-uploader .filelist div.file-panel span.cancel:hover {
	background-position: -48px 0;
}

.pd-web-uploader .statusBar {
	height: 63px;
	border-top: 1px solid #dadada;
	padding: 0 20px;
	line-height: 63px;
	vertical-align: middle;
	position: relative;
}

.pd-web-uploader .statusBar .progress {
	border: 1px solid #1483d8;
	width: 198px;
	background: #fff;
	height: 18px;
	position: relative;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	color: #6dbfff;
	position: relative;
	margin: 0 10px 0 0;
}

.pd-web-uploader .statusBar .progress span.percentage {
	width: 0;
	height: 100%;
	left: 0;
	top: 0;
	background: #1483d8;
	position: absolute;
}

.pd-web-uploader .statusBar .progress span.text {
	position: relative;
	z-index: 10;
}

.pd-web-uploader .statusBar .info {
	display: inline-block;
	font-size: 14px;
	color: #666666;
}

.pd-web-uploader .statusBar .btns {
	position: absolute;
	top: 10px;
	right: 20px;
	line-height: 40px;
}

#filePicker2 {
	display: inline-block;
	float: left;
}

.pd-web-uploader .statusBar .btns .webuploader-pick, .pd-web-uploader .statusBar .btns .uploadBtn,
	.pd-web-uploader .statusBar .btns .uploadBtn.state-uploading,
	.pd-web-uploader .statusBar .btns .uploadBtn.state-paused {
	background: #ffffff;
	border: 1px solid #cfcfcf;
	color: #565656;
	padding: 0 18px;
	display: inline-block;
	border-radius: 3px;
	margin-left: 10px;
	cursor: pointer;
	font-size: 14px;
	float: left;
}

.pd-web-uploader .statusBar .btns .webuploader-pick-hover,
	.pd-web-uploader .statusBar .btns .uploadBtn:hover, .pd-web-uploader .statusBar .btns .uploadBtn.state-uploading:hover,
	.pd-web-uploader .statusBar .btns .uploadBtn.state-paused:hover {
	background: #f0f0f0;
}

.pd-web-uploader .statusBar .btns .uploadBtn {
	background: #00b7ee;
	color: #fff;
	border-color: transparent;
}

.pd-web-uploader .statusBar .btns .uploadBtn:hover {
	background: #00a2d4;
}

.pd-web-uploader .statusBar .btns .uploadBtn.disabled {
	pointer-events: none;
	opacity: 0.6;
}