<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <base href="../../../../../"> 
    <title>CSS3 Loading 效果</title>
    <style type="text/css">
    	.main{
			width: 100%;
			height: auto;
			padding-top: 0px;
    	}
    	a{
    		display: block;
    		text-align: center;
    		font-size: 20px;
    		margin-top: 200px;
    	}
    	
    </style>
    <link rxmextend rel="stylesheet" href="./www/res/css/ormwidget.css"> 
</head>
<body  class="rxm-loading-show">
    <div><h1>透明的</h1></div>
	<div id='rxm_loading'>
		<div class="rxm-gradients-dot-line"><span></span><span></span><span></span><span></span><span></span></div>
	</div>


</body></html>