<html><head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <base href="../../../../../"> 
        <title>CSS3 Loading 效果</title>
    
        <link rxmextend rel="stylesheet" href="./www/res/css/ormwidget.css"> 
    </head>
    <body  class="rxm-loading-show">
        <div><h1>透明的</h1></div>
        <div id='rxm_loading'>
            <div class="rxm-flower-gif">
                <div><img  src="./www/res/css/login/res/loading.gif"> </div>
                <span >正在加载中...</span> </div>
        </div>
    </body></html>