<html lang="zh-cn" ormtype="10">
	<head>
		<base href="../../../../../../../../">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta content="telephone=no" name="format-detection">
		<meta name="rxmdevicetype" content="1,2">
		<meta name="rxmtempUUID" content="C87EFE0759900001BE931A1613908240">
		<meta name="rxmtempDes" content="                  ">
		<link rxmextend="" rel="shortcut icon" type="image/x-icon" href="">
		<link rxmextend="" rel="stylesheet" href="./www/res/css/ormwidget.css">
		<title>
			fileUpload
		</title>
		<script rxmextend="" src="./www/rxm/requirejs/require.js" type="text/javascript">
			
			
			
		
		
		
		
		</script>
		<meta pageid="C87F11AA13800001F1C419FF11C03D30" pageauth="0">
	</head>
	<body class="rxm-body rxm-desktop rxm-mac" id="rxm_body" style="cursor: default;" clsnm="rxm-body" rxmtype="layout">
		<style id="panel001_style" type="text/css">
			#panel001_sub_1.rxm-top-panel{ height:2.1rem; } #panel001.rxm-content-panel{
			height: calc(100% - 2.1rem ); }
		</style>
		<script rxmextend="" type="text/javascript" src="./www/rxm/global/cssOriginal.js">
			
		
		</script>
		<div class="rxm-top-panel" id="panel001_sub_1" clsnm="rxm-top-column" rxmtype="sublayout" rxmname="上栏(定高)" pid="panel001">
			<div class="rxm-title-bar" clsnm="rxm-title-bar" rxmtype="container" id="bar002">
				<i class="fa  fa-list-alt rxm-title-icon">
				</i>
				<span class="rxm-title-name">
					rxm标题
				</span>
			</div>
		</div>
		<div class="rxm-content-panel rxm-content-top" rxmname="下栏" id="panel001" rxmtype="layout" clsnm="rxm-content-tb-panel">
			<form id="form003" name="" class="rxm-form-horizontal" rxmtype="container" clsnm="rxm-form">
				<fieldset class="rxm-fieldset" rxmtype="container" id="fieldset005" clsnm="rxm-fieldset">
					<legend>
					</legend>
					<div class="rxm-form-group rxm-col-xs-12 rxm-col-sm-6 rxm-col-md-4 rxm-col-lg-3 rxmdk-plugin-focus" rxmurl="/resoft/orm/uptest" rxmtype="input" id="fileUploader007" clsnm="rxm-fileUploader" rxmauto="true" rxmfilenumlimit="4">
						<label class="rxm-control-label rxm-form-padding-r rxm-col-xs-3 rxm-col-sm-3 rxm-col-md-3 rxm-col-lg-3" for="fileName">
							文件名称
						</label>
						<div class="rxm-form-padding-l rxm-col-xs-8 rxm-col-sm-8 rxm-col-md-8 rxm-col-lg-8">
							<input class="rxm-form-control rxm-file-uploader" name="fileName" readonly="" id="fileName">
							<div class="rxm-upload-clearAllValue">
								<!-- <i class="fa fa-trash-o" id="delBtn"> </i>           <i class="fa fa-cloud-upload" id="uploadBtn" style="display: none;"></i>  -->
								<i class="fa fa-trash-o">
								</i>
								<i class="fa fa-cloud-upload" style="display: none;">
								</i>
							</div>
							<div class="circleProgress_wrapper">
								<span>
									0
								</span>
								<div class="wrapper right">
									<div class="circleProgress rightcircle">
									</div>
								</div>
								<div class="wrapper left">
									<div class="circleProgress leftcircle">
									</div>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<script rxmextend="" name="rxmJsMain" type="text/javascript" src="www/examples/pages/dkTest/form/fileUpload/view/fileUpload.js">
			
		
		</script>
	

</body>

</html>