html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: rgb(206, 204, 204);
}
.top{
    background-color:rgba(93, 151, 236, 0.842);
    padding-left:1rem;
    font-size:1.5rem;
    line-height:4rem;
    font-color:white;
    

}
.elseTop{
    margin-top:10px;
    top: 60px;
    height:calc(100% - 60px);
}
.navigator{
    height:100%;  
    left:0%;
    width:140px;
    border-top:0.1px solid rgb(184, 180, 180);
    border-right:0.1px solid rgb(184, 180, 180);
    margin-right:10px;
    background-color: rgb(241, 240, 240);
}
.main{
	position:relative;
	height:100%;
    margin-left: 150px;
    width:calc(100% - 150px);
    top:-100%;
}
.menubar{
    height:30px;
}
.title{
    font-size:1rem;
    line-height:3rem;
    border-top:0.1px solid rgb(184, 180, 180);
    background-color: white;
    
}

.toolbar{
    /* height:40px; */
    border-top:0.1px solid rgb(184, 180, 180);
}
.toolbar-span{
    height:30px;
    border-right:0.1px solid rgb(184, 180, 180);
    display:inline-block;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
     vertical-align:middle;
}
tbody{
    /* height:40px; */
    width: 600px;
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.toolbar-table{
    top:0%;
    width: 600px;
    height:40px; 
    margin:0 0 0 0;
    padding:0 0 0 0;
}
.content{
	height:calc(95% - 20px);
    width:100%;
     background-color: rgb(241, 240, 240);
     display:table;
}


.menubar-table{
	width:400px;
	left:0%;
}

.version-table{
	width:100%;
	border-top:0.1px solid grey;
	vertical-align:middle;
}
td{
	vertical-align:inherit;
	height:40px;
	border-top:0.1px solid rgb(184, 180, 180);
	   background-color: rgb(241, 240, 240);
}
.statebar{}