<html lang="zh-cn" ormtype="10">
	<head>
		<base href="../../../../../../../">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta content="telephone=no" name="format-detection">
		<meta name="rxmdevicetype" content="1,2">
		<meta name="rxmtempUUID" content="C87EFE0759900001BE931A1613908240">
		<meta name="rxmtempDes" content="                  ">
		<link rxmextend="" rel="shortcut icon" type="image/x-icon" href="">
		<link rxmextend="" rel="stylesheet" href="./www/res/css/ormwidget.css">
		<title>
			树测试
		</title>
		<script rxmextend="" src="./www/rxm/requirejs/require.js" type="text/javascript">
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		</script>
		<meta pageid="C87F146EA7900001C3FBB1C05DC7E430">
	</head>
	<body class="rxm-body rxm-desktop rxm-mac rxmdk-plugin-hover rxmdk-plugin-focus" id="rxm_body" style="cursor: default;" clsnm="rxm-body" rxmtype="layout"><style id="panel001_style" type="text/css">     .rxm-mobile #panel001.rxm-content-panel,.rxm-desktop #panel001.rxm-content-panel{         width:auto;        height:100%;    }</style>
	<script rxmextend="" type="text/javascript" src="./www/rxm/global/cssOriginal.js"></script><div class="rxm-content-panel" id="panel001" rxmtype="layout" clsnm="rxm-content-panel"><div class="ztree rxm-tree" rxmtype="display" id="tree002" clsnm="rxm-display-tree" rxmurl="/resoft/treeTestService/getTreeData" rxmparams="{&quot;name&quot;:&quot;Tom&quot;,&quot;age&quot;:&quot;20&quot;}" rxmidkey="treeId" rxmpidkey="treePid" rxmnamekey="nodeName" rxmischeckbox="true" checkep="true" checkes="true" cancelep="true" canceles="true" rxmisnodeopen="true"></div></div>
	<script rxmextend="" name="rxmJsMain" type="text/javascript" src="www/examples/pages/dkTest/treeTest/view/treeTest.js"></script>








<ul class="rxm-cmd-dropdown-btnbar rxm-display-none" rxmtype="display" id="menu004" clsnm="rxm-display-menu" parentplugin="tree002">    <!-- <li class="rxm-cmd-btn" rxmtype="display" clsnm="rxm-display-menuitem" id="examplemenuitem1">        <button rxmcmdid>            <div class="rxm-btn-contents">                <span>默认菜单项</span>            </div>        </button>    </li> --><li class="rxm-menu-item rxm-cmd-btn" rxmtype="display" id="menuitem005" parentplugin="menu004" clsnm="rxm-display-menuitem">    <button rxmcmdid="treeTestMenu1">        <div class="rxm-btn-contents">            <span>显示菜单名称</span>        </div>    </button></li><li class="rxm-menu-item rxm-cmd-btn" rxmtype="display" id="menuitem006" parentplugin="menu004" clsnm="rxm-display-menuitem">    <button rxmcmdid="treeTestMenu2">        <div class="rxm-btn-contents">            <span>显示菜单层级</span>        </div>    </button></li></ul>





</body>

</html>