<!doctype html>
<html lang="zh-cn" ormtype="10">
	<head>
		<base href="../../../../../../../">
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta charset="utf-8">
		<meta content="telephone=no" name="format-detection">
		<link rxmextend rel="stylesheet" href="./www/res/css/ormwidget.css">
		<link rxmextend rel="stylesheet" href="./www/examples/res/css/examplewidget.css">
	</head>
	<body class="rxm-body rxm-desktop rxm-mac" clsnm="rxm-body" rxmtype="layout"
	id="rxm_body" style="cursor: default;">
		<style id="panel001_style" type="text/css">
			.rxm-mobile #panel001.rxm-content-panel,.rxm-desktop #panel001.rxm-content-panel{
			width:auto; height:100%; }
		</style>
		<script rxmextend="" type="text/javascript" src="./www/rxm/global/cssOriginal.js">
		</script>
		<div class="rxm-content-panel" id="panel001" rxmtype="layout" clsnm="rxm-content-panel">
			<div class="rxm-row-panel" clsnm="rxm-row-panel" rxmrowh="auto" rxmrowminh="2.1rem"
			rxmtype="layout" id="panel002">
				<form id="form005" name="" class="rxm-form-horizontal" rxmtype="container"
				clsnm="rxm-form">
					<div class="rxm-form-group rxm-col-xs-12 rxm-col-sm-6 rxm-col-md-4 rxm-col-lg-3 rxmdk-plugin-focus"
					rxmtype="input" id="text006" clsnm="rxm-input-text">
						<label class="rxm-control-label rxm-form-padding-r rxm-col-sm-3 rxm-col-md-3 rxm-col-lg-3 rxm-col-xs-12 rxm-form-label-left"
						for="iphone">
							请输入手机号
						</label>
						<div class="rxm-col-sm-8 rxm-col-md-8 rxm-col-lg-8 rxm-col-xs-12">
							<input type="text" class="rxm-form-control" name="phone" id="phone">
						</div>
					</div>
				</form>
			</div>
			<div class="rxm-row-panel" clsnm="rxm-row-panel" rxmrowh="auto" rxmrowminh="2.1rem"
			rxmtype="layout" id="panel003">
				<ul class="rxm-cmd-btnbar" rxmtype="container" id="btnbar004" clsnm="rxm-cmd-btnbar">
					<li class="rxm-cmd-btn" rxmtype="button" clsnm="rxm-cmd-btn" id="btnbar004btn">
						<button class="" rxmcmdid="phoneCall" title="拨号">
							<i class="fa fa-save">
							</i>
							<span>
								拨号
							</span>
						</button>
					</li>
				</ul>
			</div>
		</div>
		<script rxmextend="" src="./www/rxm/requirejs/require.js" type="text/javascript">
		</script>
		<script rxmextend="" name="rxmJsMain" type="text/javascript" src="www/examples/pages/mobile/mobileFunction/call/view/call.js">
		</script>
	</body>

</html>